.App {
  text-align: center;
}


.app__form {
  padding: 20px;
  position: fixed;
  bottom: 0;
  z-index: 999;
  background-color: #e9e9eb;
  width: 100%;
  -webkit-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 3px 6px 0px rgba(0,0,0,0.2);
}

.app__formControl {
  display: flex !important;
  align-items: center;
  flex-direction: row !important;
  justify-content: space-between;
  padding-right: 20px !important;
}

.app__input {
  flex: 1;
}

.app__iconButton {
  flex: 0;
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px !important;
}

h2 {
  font-size: 16px;
  color: #1f1e1ea6;
}






